body {
    margin: auto;
    padding: 0px;
    width: 1000px;
    font-family: Calibri;
}

.clsnegrito {
    font-weight: bold;
}

.clsesquerda {
    text-align: left;
}

.clscentro {
    text-align: center;
}

.clsdireita {
    text-align: right;
}

.clsmeio {
    vertical-align: middle;
}

.clscaixaalta {
    font-size: 50px;
    background-color: #b200ff;
}

.clstitulo {
    font-size: 50px;
    color: #00f;
    background-color: #e6e6e6;
}

.clsfundo {
    background-color: #0094ff;
}

.clsfundo2 {
    background-color: #e6e6e6;
}
